*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: beige;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
}

.brand-logo img {
    width: 4.5rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: #0278ae;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #a2d5f2;
}

.tittle {
    font-size: 36px;
}

.btn {
    color: #F6F5F5;
    background-color: #0278ae;
    text-decoration: none;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2180d8;
}

.btn:focus {
    background-color: #2796ff;
}

.btn.sec {
    background-color: #A0A3A9;
}

.btn.sec:hover {
    background-color: #C4C4C4;
}

.btn.sec:focus {
    background-color: #dbdada;
}

a {
    text-decoration: none;
}